<application
  android:name=".MainApplication"
  android:label="@string/app_name"
  android:icon="@mipmap/ic_launcher"
  android:roundIcon="@mipmap/ic_launcher_round"
  android:allowBackup="false"
  android:theme="@style/AppTheme">

  <!-- Adicionar a chave da API do Google Maps como meta-data -->
  <meta-data
    android:name="com.google.android.geo.AIzaSyCEPOxevdLBPAyHalxZP89PXqXAkKEQmTY"
    android:value="AIzaSyCEPOxevdLBPAyHalxZP89PXqXAkKEQmTY" />

  <!-- Resto das configurações do aplicativo -->

</application>
